@model FlightViewModel

@{
    ViewBag.Title = Resources.Shared.AppName + " - " + string.Format(Resources.Shared.CreateViewTitle, "Flight");   
}

<fieldset>
    <legend>@Resources.FlightResource.Flight</legend>

    @Html.HiddenFor(model => model.Id)

    <div class="row">
        <div class="form-field-group">
            @Html.LabelFor(model => model.Airline, new { @class = "control-label col-sm-3 col-lg-4" })
            <div class="editor col-sm-7 col-lg-8">
                @Html.EditorFor(model => model.Airline)
                @Html.ValidationMessageFor(model => model.Airline)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-field-group">
            @Html.LabelFor(model => model.SourceAirportID, new { @class = "control-label col-sm-3 col-lg-4" })
            <div class="editor col-sm-7 col-lg-8">
                 @Html.DropDownListFor(model => model.SourceAirportID, new SelectList(ViewBag.AiportList, "Code", "Name"), new { @class = "form-control"})
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-field-group">
            @Html.LabelFor(model => model.DestinationAirportID, new { @class = "control-label col-sm-3 col-lg-4" })
            <div class="editor col-sm-7 col-lg-8">
                @Html.DropDownListFor(model => model.DestinationAirportID, new SelectList(ViewBag.AiportList, "Code", "Name"), new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-field-group">
            @Html.LabelFor(model => model.Stops, new { @class = "control-label col-sm-3 col-lg-4" })
            <div class="editor col-sm-7 col-lg-8">
                @Html.EditorFor(model => model.Stops)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-field-group">
            @Html.LabelFor(model => model.Active, new { @class = "control-label col-sm-3 col-lg-4" })
            <div class="editor col-sm-7 col-lg-8">
                @Html.EditorFor(model => model.Active)
                @Html.ValidationMessageFor(model => model.Active)
            </div>
        </div>
    </div>

</fieldset>

